# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env

# IDE
.idea/
.vscode/

# Testing / type checking
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# OS
.DS_Store

# Docker volumes (на всякий случай)
postgres_data/
